body {
    font-family: "Oswald", sans-serif;
    margin: 3em;
    background-color: #cdd8da;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin: 3em 8em 3em 8em;
}

.header__menu-item {
    text-decoration: none;
    color: #232b2e;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid #232b2e; 
    margin: 2em;
}

.container{
    display: flex;

    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.main__profile {
    margin-left: 5em;
    padding: 0;
}

h1 {
    font-size: 3rem;
    color: #232b2e;
    margin-bottom: 2em;
}

p {
    font-size: 1.5rem;
    color: #232b2e;
    line-height: 2rem;
}

figure{
    margin: 2em;
}

figure, img{
    padding-left: 9em;
    width: 500px;

}

ul{
    display: flex;
}

.logo__image{
    height: 40px;
    width: 40px;
    padding-bottom: 1em;
}

footer, a{
    color: #232b2e;
    text-decoration: none;
    padding-left: 1em;
}